*{
  box-sizing: border-box;
}

body{
  margin: 0;
}


.contenedor{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contenedor .banda{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-grow: 1;
}

.contenedor > *:hover{
  transform: rotate(180deg);
}

.contenedor :nth-child(1){
background: #0ff ;
}
.contenedor :nth-child(2){
background: #0ee ;
}
.contenedor :nth-child(3){
background: #0dd ;
}
.contenedor :nth-child(4){
background: #0cc ;
}
.contenedor :nth-child(5){
background: #0bb ;
}

/*Transision de colores al siguiente div*/
section :nth-child(2):hover~{
background: #0ee ;
}
